<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name group</title>
  <link rel ="stylesheet" href="/src/main/resources/static/assets/styles.css" />
</head>
<body>
  <header>
    <nav> <!-- barra de inicio-->
        <a href="/html/proyecto/presentacionEquipo.html" class = "link">Presentación equipo</a> 
        <div class ="link">
            <a href="../bienvenida.html" class="link">Proyecto</a>
            <div class="submenu">
                <a href="descripcionProyecto.html">Descripción del proyecto</a>
                <a href="requerimientos.html">Requerimientos</a>
                <a href="paraDesarrollo.html">Para desarrollo</a>
                <a href="pruebas.html">Pruebas</a>
                <a href="despliegue.html">Despliegue</a>
                <a href="arquitecturaProyecto.html">Arquitectura proyecto</a>
            </div>     
        </div>
        <a href="../contactenos.html" class="link">Contactenos</a>    
    </nav>
  </header>

  <main>
    <!-- Content goes here -->
    <section>
        <h1>DESCRIPCIONES DE ENDPOINTS</h1>
    </section>
  </main>
</body>
</html>