/* Styles to tags */
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  background-image: url("/grupo14/imagenes/architectural.jpg");
  background-size: cover;
  background-position: center;
}

.architecture {
  height: 444px;
  width: 688px;
}

.pair__description .banner__title {
  color: #503aa7;
  font-size: 2.25rem;
  align-self: center;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title__container p {
  color: #3a3b3c;
  text-align: center;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pair__description .title {
  color: #45b7ff;
}

/* Large Desktop (Bigger than 1440px) */
@media (min-width: 1440px) {
  .pair__description .banner__title {
    color: #503aa7;
    font-size: 4rem;
    align-self: center;
  }

  .title__container p {
    color: #d3d7dc;
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
