/* Styles to tags */
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  background-image: url("/grupo14/imagenes/architectural.jpg");
  background-size: cover;
  background-position: center;
}

.architecture {
  height: 444px;
  width: 688px;
}

.pair__description .banner__title {
  color: #ff6347; /* Red color for title */
  font-size: 2.25rem;
  align-self: center;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title__container p {
  color: #696969; /* Dim gray color for paragraph */
  text-align: center;
  font-family: Arial, sans-serif; /* Changed font family */
  font-size: 1.5rem;
  font-style: italic; /* Changed font style */
  font-weight: 400; /* Changed font weight */
  line-height: 1.5; /* Adjusted line height */
}

.pair__description .title {
  color: #00ced1; /* Dark turquoise color for titles */
}

/* Large Desktop (Bigger than 1440px) */
@media (min-width: 1440px) {
  .pair__description .banner__title {
    color: #8a2be2; /* Blue Violet color for title */
    font-size: 4rem;
    align-self: center;
  }

  .title__container p {
    color: #32cd32; /* Lime Green color for paragraph */
    text-align: center;
    font-family: Georgia, serif; /* Changed font family */
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8; /* Adjusted line height */
  }
}
