<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Links to fav icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/assets/images/casita.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/assets/images/casita.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/assets/images/casita.png"
    />
    <link rel="manifest" href="../static/assets/site.webmanifest" />

    <link rel="stylesheet" href="../static/styles/normalize.css" />
    <link rel="stylesheet" href="../static/styles/common/header.css" />
    <link rel="stylesheet" href="../static/styles/common/footer.css" />
    <link rel="stylesheet" href="../static/styles/common/pair.css" />
    <link rel="stylesheet" href="../static/styles/about-us.css" />

    <title>Nosotros</title>
  </head>
  <body>
    <header>
      <div class="header__container">
        <div class="name__logo__container">
          <div class="logo"></div>
          <a href="../templates/index.html">
            <h1>Arrienda tu casa</h1>
          </a>
        </div>
        <nav class="navBar">
          <!-- <a href="./about-us.html">Nosotros</a>
          <a href="./project-description.html">Proyecto</a>
          <a href="./form.html">Contáctanos</a>-->
          <a th:href="@{/grupo14/plantillas/about-us}">Nosotros</a>
          <a th:href="@{/grupo14/plantillas/project-description}">Proyecto</a>
          <a th:href="@{/grupo14/plantillas./form.html}">Contáctanos</a>
        </nav>
      </div>
    </header>
    <main>
      <section class="pair__container">
        <div class="pair">
          <img
            src="../static/assets/images/house.svg"
            alt="project image"
            class="pair__image"
          />
          <div class="pair__description">
            <h1>Lorem Ipsum</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </section>

      <section class="pair__container">
        <div class="pair">
          <div class="pair__description">
            <h1>Lorem Ipsum</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <img
            src="../static/assets/images/worker.png"
            alt="project image"
            class="pair__image"
          />
        </div>
      </section>

      <section class="pair__container">
        <div class="pair">
          <img
            src="../static/assets/images/neosalesign.avif"
            alt="project image"
            class="pair__image"
          />
          <div class="pair__description">
            <h1>Lorem Ipsum</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </section>

      <section class="team__container">
        <h1 class="team__title">Grupo 14</h1>
        <div class="team__cards__container">
          <div class="card__container">
            <img
              src="../static/assets/images/kid.jpg"
              alt="Carlos photo"
              class="card__photo"
            />
            <h2 class="card__dev__name">Estudiante 1</h2>
            <h3 class="card__dev__role">Rol</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </p>
            <div class="languages__container">
              <img
                src="../static/assets/images/ask.png"
                width="62px"
                height="59px"
                alt="java logo"
              />
            </div>
          </div>
          <div class="card__container">
            <img
              src="../static/assets/images/kid2.jpg"
              alt="Carlos photo"
              class="card__photo"
            />
            <h2 class="card__dev__name">Estudiante 2</h2>
            <h3 class="card__dev__role">Rol</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="languages__container">
              <img
                src="../static/assets/images/ask.png"
                width="62px"
                height="59px"
                alt="java logo"
              />
            </div>
          </div>
          <div class="card__container">
            <img
              src="../static/assets/images/kid2.jpg"
              alt="Carlos photo"
              class="card__photo"
            />
            <h2 class="card__dev__name">Estudiante 3</h2>
            <h3 class="card__dev__role">Rol</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="languages__container">
              <img
                src="../static/assets/images/ask.png"
                width="62px"
                height="59px"
                alt="java logo"
              />
            </div>
          </div>
          <div class="card__container">
            <img
              src="../static/assets/images/kid.jpg"
              alt="Carlos photo"
              class="card__photo"
            />
            <h2 class="card__dev__name">Estudiante 4</h2>
            <h3 class="card__dev__role">Rol</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="languages__container">
              <img
                src="../static/assets/images/ask.png"
                width="62px"
                height="59px"
                alt="java logo"
              />
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__container__icons">
        <div class="name__logo__container">
          <div class="logo"></div>
          <a href="">
            <h1>Grupo 14</h1> <!-- FALTA LINK NO SE A QUE VA-->
          </a>
        </div>
        <a
          href=""
          target="_blank"
        >
          <img src="../static/assets/images/Github.svg" alt="GitHub logo" />
        </a>
      </div>
      <hr />
      <h2 class="copyright">© 2024 Grupo 14, Inc. All rights reserved.</h2>
    </footer>
  </body>
</html>
