<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arquitectura</title>
  <link rel ="stylesheet" href="/grupo14/css/main.css" />
</head>
<body>
  <header>
    <nav> <!-- barra de inicio-->
      <a href="/grupo14/control/presentacionEquipo" class="link">Nosotros</a>
      <div class="link">
        <a href="/grupo14/control/descripcionProyecto"class="link">Proyecto</a>
        <div class="submenu">
          <a href="/grupo14/control/descripcionProyecto">Descripción del proyecto</a>
          <a href="/grupo14/control/requerimientos">Requerimientos</a>
          <a href="/grupo14/control/paraDesarrollo">Para desarrollo</a>
          <a href="/grupo14/control/pruebas">Pruebas</a>
          <a href="/grupo14/control/despliegue">Despliegue</a>
          <a href="/grupo14/control/arquitectura">Arquitectura proyecto</a>
          <a href="/grupo14/control/bienvenida">Bienvenida</a>
        </div>
      </div>
      <a href="/grupo14/formControl/form"class="link">Contáctanos</a>
    </nav>
  </header>

  <main>
   
    <section>
        <a href= "#diagrama-referencia"> Diagramas de referencia C4</a>
        <a href="#modelos">Modelos</a>
        <a href="#diagrama-despliegue">Diagrama de despliegue</a>
    </section>
    <section id="diagrama-refencia">
      <h1>Arquitectura del proyecto</h1>
      <p>Modelos y diagramas para el desarrollo del proyecto </p>
        <h1>DIAGRAMAS DE REFERENCIA C4</h1>
        <h2>Diagrama de contexto</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.</p>
        <img src ="/grupo14/imagenes/diagramaX.png">
        <h2>Diagrama del contenedor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.</p>
        <img src ="/grupo14/imagenes/diagramaX.png">
        <h2>Diagrama de componentes</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.</p>
        <img src ="/grupo14/imagenes/diagramaX.png">
    </section>
    <section id="modelos">
        <h1>MODELOS</h1>
        <h2>Entidad/Relación: Diccionario</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.</p>
        <img src ="/grupo14/imagenes/modeloEntidadX.gif">
        
    </section>
    <section id="diagrama-despliegue">
        <h1>DIAGRAMA DE DESPLIEGUE</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.</p>
        <img src ="/grupo14/imagenes/diagramaDespliegueX.png">
    </section>
  </main>
</body>
</html>
