<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel ="stylesheet" href="/grupo14/css/main.css" />
  <link rel ="stylesheet" href="/grupo14/css/form.css" />
  <script src="/grupo14/js/form.js"></script>

</head>
<body>
	<header>
    <nav> <!-- barra de inicio-->
      <a href="/grupo14/control/presentacionEquipo" class="link">Nosotros</a>
      <div class="link">
        <a href="/grupo14/control/descripcionProyecto"class="link">Proyecto</a>
        <div class="submenu">
          <a href="/grupo14/control/descripcionProyecto">Descripción del proyecto</a>
          <a href="/grupo14/control/requerimientos">Requerimientos</a>
          <a href="/grupo14/control/paraDesarrollo">Para desarrollo</a>
          <a href="/grupo14/control/pruebas">Pruebas</a>
          <a href="/grupo14/control/despliegue">Despliegue</a>
          <a href="/grupo14/control/arquitectura">Arquitectura proyecto</a>
          <a href="/grupo14/control/bienvenida">Bienvenida</a>
        </div>
      </div>
      <a href="/grupo14/formControl/form"class="link">Contáctanos</a>
    </nav>
	</header>
	<main>

		<h1>Contactenos</h1>
		
		<form action = "/submit" th:action = "@{submit}" method = "post" id="form">
			<div>
        <div id="bordeNombre">
        <label for="nombre">Nombre:</label>
			  <input type ="text" id = "nombre" name = "nombre" maxlength ="100" placeholder="Jose Alejandro" required/><br/><br/>
        </div>
        <p  id="errorNombre" ></p>
        <p id="tamanoNombre"></p>
      </div>
      <div id="bordeApellido">
        Apellido
			  <input type ="text" id = "apellido" name = "apellido" maxlength ="100" placeholder="Rincon Veloza" required/><br/><br/>
        <p id="errorApellido"></p>
        <p id="tamanoApellido"></p>
      </div>
      <div id="bordeCorreo"> 
        Correo
        <input type ="text"  id = "correo" name = "correo" maxlength ="100" placeholder="ejm@gmail.com"required/><br/><br/>
        <p id="errorCorreo"></p>
        <p id="tamanoCorreo"></p>
      </div> 
      <div id="bordeSemestre">
        Semestre
        <input type ="number"  id = 'semestre' name = 'semestre' required/><br/><br/>
        <p id="errorSemestre"></p>
      </div> 
      <div id="bordeDescripcion"> 
        Descripcion
        <textarea id = "descripcion" name = "descripcion" required></textarea><br/><br/>
        <p id="errorDescripcion"></p>
      </div> 
      <div>
			  <input type ='submit' value = 'Enviar'/>
      </div> 
      <p th:text="${error}" th:class="error"></p>
    </form>
    
	</main>
</body>
</html>