<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/grupo14/css/main.css" />
    <link rel="stylesheet" href="/grupo14/css/form.css" />
    <title>Contactanos</title>
  </head>

  <body>
    <header>
      <div class="header__container">
        <h1 class="logo">Grupo 14</h1>
        <nav>
          <a href="/grupo14/control/presentacionEquipo" class="link">Nosotros</a>
          <div class="link">
            <a href="/grupo14/control/descripcionProyecto" class="link">Proyecto</a>
            <div class="submenu">
              <a href="/grupo14/control/descripcionProyecto">Descripción del proyecto</a>
              <a href="/grupo14/control/requerimientos">Requerimientos</a>
              <a href="/grupo14/control/paraDesarrollo">Para desarrollo</a>
              <a href="/grupo14/control/pruebas">Pruebas</a>
              <a href="/grupo14/control/despliegue">Despliegue</a>
              <a href="/grupo14/control/arquitectura">Arquitectura proyecto</a>
              <a href="/grupo14/control/index">Indice</a>
            </div>
          </div>
          <a href="/grupo14/formControl/form" class="link">Contáctanos</a>
        </nav>
      </div>
    </header>

    <section class="banner__container">
      <div class="banner__container__description">
        <h1>Formulario</h1>
        <p>Llena el formulario con tu información por favor.</p>
      </div>
    </section>

    <section class="form__container">
      <div class="form__card">
        <form action="/grupo14/formControl/submit" class="form__questions" method="POST">
          <label class="form__label" for="">Nombres</label>
          <input class="form__input" id="nombre" type="text" name="nombre" placeholder="Pablo" required maxlength="100" />
          <label class="form__label" for="">Apellidos</label>
          <input class="form__input" id="apellido" type="text" name="apellido" placeholder="Marquez" required maxlength="100" />
          <label class="form__label" for="">Correo</label>
          <input class="form__input" id="correo" type="email" name="correo" placeholder="JhonDoe@email.com" required maxlength="100" />
          <label class="form__label" for="">Semestre</label>
          <input class="form__input" id="semestre" type="number" name="semestre" placeholder="Semestre entre 1 y 16" />
          <label class="form__label" for="">Descripción</label>
          <textarea class="form__textarea" name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Escribe tu mensaje"></textarea>
          <button class="button__container" type="submit" id="submission">Enviar</button>
        </form>
      </div>
    </section>
    <footer>
      <div class="footer__container__icons">
        <h1 class="logo">Grupo 14</h1>
        <a href="https://github.com/ValeLeon15/taller-web" target="_blank">
          <img src="/grupo14/imagenes/Github.svg" alt="GitHub logo" />
        </a>
      </div>
      <hr />
      <h2 class="copyright">grupo14</h2>
    </footer>
  </body>
</html>

