<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name group</title>
  <link rel ="stylesheet" href="/grupo14/css/main.css" />

</head>
<body>
  <header>
    <nav> <!-- barra de inicio-->
      <a href="/grupo14/control/presentacionEquipo" class="link">Nosotros</a>
      <div class="link">
        <a href="/grupo14/control/descripcionProyecto"class="link">Proyecto</a>
        <div class="submenu">
          <a href="/grupo14/control/descripcionProyecto">Descripción del proyecto</a>
          <a href="/grupo14/control/requerimientos">Requerimientos</a>
          <a href="/grupo14/control/paraDesarrollo">Para desarrollo</a>
          <a href="/grupo14/control/pruebas">Pruebas</a>
          <a href="/grupo14/control/despliegue">Despliegue</a>
          <a href="/grupo14/control/arquitectura">Arquitectura proyecto</a>
          <a href="/grupo14/control/index">Indice</a>
        </div>
      </div>
      <a href="/grupo14/formControl/form"class="link">Contáctanos</a>
    </nav>
  </header>
  <main>
    <h1>SOMOS EL GRUPO_1_4</h1>
    <ul>
      <li>Juan Nicolas Avella Barragán</li>
      <li>Angie Valentina León Gonzalez</li>
      <li>Laura Isabel Montero Blanco</li>
    </ul> <br/>
    <img src="/grupo14/imagenes/Nicolasfoto.jpeg">
    <h2>Nicolás Avella</h2>
    <h3>Rol: Líder Técnico</h3>
    <p>Descripción del Perfil Técnico: Es responsable de liderar el equipo desde
    el punto de vista técnico, trabajando con tecnologías web como JavaScript, HTML y CSS. 
    Tiene un profundo conocimiento de estas tecnologías, así como de frameworks y
    bibliotecas relacionadas . Coordina las actividades de
    desarrollo, asegura la calidad del código, establece estándares de codificación 
    y toma decisiones técnicas para resolver problemas y optimizar el rendimiento del
    sistema.</p>

    <img src="/grupo14/imagenes/valentinaLeon.jpg">
    <h2>Valentina León</h2>
    <h3>Rol: Líder de Planificación</h3>
    <p>Descripción del Perfil Técnico: Es responsable de la planificación y coordinación de las actividades 
    del proyecto, utilizando herramientas de gestión de proyectos y planificación basadas en
    la web. Trabaja estrechamente con el equipo para establecer plazos, asignar recursos y 
    garantizar que el proyecto avance según lo planeado. Tiene habilidades en gestión de
    proyectos y comunicación efectiva para mantener informados a los stakeholders sobre el
    progreso del proyecto.</p>

    <img src="/grupo14/imagenes/LauraMonteroBlanco.jpeg">
    <h2>Laura Montero</h2>
    <h3>Rol: Lider de calidad de software</h3>
    <p>Descripción del Perfil Técnico: Es responsables de garantizar la calidad del software
       mediante pruebas exhaustivas utilizando JavaScript, HTML y CSS. Desarrollan estrategias 
       de pruebas, crean casos de prueba y realizan pruebas manuales utilizando herramientas 
       como git. Además, tienen conocimientos básicos de herramientas de gestión de pruebas y 
       control de versiones. Trabajan en estrecha colaboración con el equipo de desarrollo 
       para identificar y resolver problemas de calidad del software.</p>

  </main>
</body>
</html>