<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name group</title>
  <link rel ="stylesheet" href="/grupo14/css/styles.css" />
</head>
<body>
  <header>
    <nav> <!-- barra de inicio-->
        <a href="presentacionEquipo.html" class = "link">Presentación equipo</a> 
        <div class ="link">
            <a href="bienvenida.html" class="link">Proyecto</a>
            <div class="submenu">
                <a href="proyecto/descripcionProyecto.html">Descripción del proyecto</a>
                <a href="proyecto/requerimientos.html">Requerimientos</a>
                <a href="proyecto/paraDesarrollo.html">Para desarrollo</a>
                <a href="proyecto/pruebas.html">Pruebas</a>
                <a href="proyecto/despliegue.html">Despliegue</a>
                <a href="proyecto/arquitecturaProyecto.html">Arquitectura proyecto</a>
            </div>     
        </div>
        <a href="contactenos.html" class="link">Contactenos</a>    
    </nav>
  </header>
  <main>
    Juan Nicolas Avella Barragán
    Angie Valentina León Gonzalez
    Lara Salcedo Franco
    Laura Isabel Montero Blanco
    <!-- Content goes here -->
  </main>
</body>
</html>