<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name group</title>
  <link rel ="stylesheet" href="/grupo14/css/main.css" />

</head>
<body>
  <header>
    <nav> <!-- barra de inicio-->
      <a href="/grupo14/control/presentacionEquipo" class="link">Nosotros</a>
      <div class="link">
        <a href="/grupo14/control/descripcionProyecto"class="link">Proyecto</a>
        <div class="submenu">
          <a href="/grupo14/control/descripcionProyecto">Descripción del proyecto</a>
          <a href="/grupo14/control/requerimientos">Requerimientos</a>
          <a href="/grupo14/control/paraDesarrollo">Para desarrollo</a>
          <a href="/grupo14/control/pruebas">Pruebas</a>
          <a href="/grupo14/control/despliegue">Despliegue</a>
          <a href="/grupo14/control/arquitectura">Arquitectura proyecto</a>
          <a href="/grupo14/control/index">Indice</a>
        </div>
      </div>
      <a href="/grupo14/formControl/form"class="link">Contáctanos</a>
    </nav>
  </header>

  <main>
    <!-- Content goes here -->
    <section>
        Funcionales <br/>
        No funcionales
    </section>
  </main>
</body>
</html>