<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Links to fav icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/site.webmanifest" />

    <!-- Links to styles -->
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/common/header.css" />
    <link rel="stylesheet" href="../styles/common/footer.css" />
    <link rel="stylesheet" href="../styles/common/button.css" />
    <link rel="stylesheet" href="../styles/common/pair.css" />
    <link rel="stylesheet" href="../styles/requirements.css" />

    <title>Home</title>
  </head>

  <body>
    <header>
      <div class="header__container">
        <div class="name__logo__container">
          <div class="logo"></div>
          <a href="/index.html">
            <h1>Grupo 14</h1>
          </a>
        </div>
        <nav class="navBar">
          <a href="/pages/about-us.html">Nosotros</a>
          <a href="/pages/project-description.html">Proyecto</a>
          <a href="/pages/form.html">Contáctanos</a>
        </nav>
      </div>
    </header>
    <main>
      <section class="banner__container">
        <div class="banner__container__description">
          <h1>Historias de usuario</h1>
          <p>
            Historias de usuario descritas por el profes
          </p>
        </div>
      </section>

      <section class="cards__container">
        <section>
          <div class="cards__container__description">
            <p>Historias de usuario para el desarrollo del proyecto Arrienda tu Finca</p>
          </div>
        </section>

        <!-- HUA.1. Creación de cuenta -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Creación de cuenta</h3>
  </div>
  <div class="face back">
    <h3>Creación de cuenta</h3>
    <p>
      Como usuario arrendador, quiero poder crear una cuenta en el sistema para acceder a todas sus funcionalidades.
    </p>
  </div>
</div>

<!-- HUA.2. Activación de cuenta -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Activación de cuenta</h3>
  </div>
  <div class="face back">
    <h3>Activación de cuenta</h3>
    <p>
      Como usuario arrendador, quiero activar mi cuenta para acceder a las herramientas y recursos necesarios.
    </p>
  </div>
</div>

<!-- HUA.3. Autenticación de usuario -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Autenticación de usuario</h3>
  </div>
  <div class="face back">
    <h3>Autenticación de usuario</h3>
    <p>
      Como usuario arrendador, quiero autenticarme en el sistema para acceder de forma segura a mi cuenta.
    </p>
  </div>
</div>

<!-- HUA.4. Ver mis propiedades -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Ver mis propiedades</h3>
  </div>
  <div class="face back">
    <h3>Ver mis propiedades</h3>
    <p>
      Como usuario arrendador, quiero ver las propiedades que tengo a mi cargo para poder realizar las acciones necesarias.
    </p>
  </div>
</div>

<!-- HUA.5. Crear propiedad -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Crear propiedad</h3>
  </div>
  <div class="face back">
    <h3>Crear propiedad</h3>
    <p>
      Como usuario arrendador, quiero crear propiedades para poder arrendarlas y gestionar la información correspondiente.
    </p>
  </div>
</div>

<!-- HUA.6. Editar propiedad -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Editar propiedad</h3>
  </div>
  <div class="face back">
    <h3>Editar propiedad</h3>
    <p>
      Como usuario arrendador, quiero editar mis propiedades para actualizar la información y gestionar de manera efectiva.
    </p>
  </div>
</div>

<!-- HUA.7. Subir foto de la propiedad -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Subir foto de la propiedad</h3>
  </div>
  <div class="face back">
    <h3>Subir foto de la propiedad</h3>
    <p>
      Como usuario arrendador, quiero subir fotos de mis propiedades para mostrarlas de manera atractiva a los posibles arrendatarios.
    </p>
  </div>
</div>

<!-- HUA.8. Desactivar propiedad -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Desactivar propiedad</h3>
  </div>
  <div class="face back">
    <h3>Desactivar propiedad</h3>
    <p>
      Como usuario arrendador, quiero desactivar propiedades para que no estén disponibles para arrendamiento.
    </p>
  </div>
</div>

<!-- HUA.9. Ver solicitudes de arriendo -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Ver solicitudes de arriendo</h3>
  </div>
  <div class="face back">
    <h3>Ver solicitudes de arriendo</h3>
    <p>
      Como usuario arrendador, quiero ver las solicitudes de arriendo para poder aceptar o rechazarlas.
    </p>
  </div>
</div>

<!-- HUA.10. Aceptar solicitud de arriendo -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Aceptar solicitud de arriendo</h3>
  </div>
  <div class="face back">
    <h3>Aceptar solicitud de arriendo</h3>
    <p>
      Como usuario arrendador, quiero aceptar la solicitud de arriendo para avanzar al estado de pago.
    </p>
  </div>
</div>

<!-- HUA.11. Cancelar solicitud de arriendo -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Cancelar solicitud de arriendo</h3>
  </div>
  <div class="face back">
    <h3>Cancelar solicitud de arriendo</h3>
    <p>
      Como usuario arrendador, quiero cancelar la solicitud de arriendo en caso necesario.
    </p>
  </div>
</div>

<!-- HUA.12. Calificar arrendatario -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Calificar arrendatario</h3>
  </div>
  <div class="face back">
    <h3>Calificar arrendatario</h3>
    <p>
      Como usuario arrendador, quiero calificar al arrendatario para evaluar su desempeño.
    </p>
  </div>
</div>

<!-- HUA.13. Creación de cuenta -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Creación de cuenta</h3>
  </div>
  <div class="face back">
    <h3>Creación de cuenta</h3>
    <p>
      Como usuario arrendatario, quiero crear una cuenta en el sistema para acceder a todas sus funcionalidades.
    </p>
  </div>
</div>

<!-- HUA.14. Activación de cuenta -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Activación de cuenta</h3>
  </div>
  <div class="face back">
    <h3>Activación de cuenta</h3>
    <p>
      Como usuario arrendatario, quiero activar mi cuenta para acceder a las herramientas y recursos necesarios.
    </p>
  </div>
</div>

<!-- HUA.15. Autenticación -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Autenticación</h3>
  </div>
  <div class="face back">
    <h3>Autenticación</h3>
    <p>
      Como usuario arrendatario, quiero autenticarme en el sistema para acceder de forma segura a mi cuenta.
    </p>
  </div>
</div>

<!-- HUA.16. Buscar propiedades -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Buscar propiedades</h3>
  </div>
  <div class="face back">
    <h3>Buscar propiedades</h3>
    <p>
      Como usuario arrendatario, quiero buscar propiedades para solicitar el arriendo en fechas específicas.
    </p>
  </div>
</div>

<!-- HUA.17. Solicitar arriendo -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Solicitar arriendo</h3>
  </div>
  <div class="face back">
    <h3>Solicitar arriendo</h3>
    <p>
      Como usuario arrendatario, quiero solicitar el arriendo de una propiedad para realizar el proceso previo al pago.
    </p>
  </div>
</div>

<!-- HUA.18. Ver solicitudes de arriendo -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Ver solicitudes de arriendo</h3>
  </div>
  <div class="face back">
    <h3>Ver solicitudes de arriendo</h3>
    <p>
      Como usuario arrendatario, quiero ver mis solicitudes de arriendo para verificar su estado.
    </p>
  </div>
</div>

<!-- HUA.19. Pagar arriendo -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Pagar arriendo</h3>
  </div>
  <div class="face back">
    <h3>Pagar arriendo</h3>
    <p>
      Como usuario arrendatario, quiero pagar los arriendos pendientes de mis solicitudes.
    </p>
  </div>
</div>

<!-- HUA.20. Calificar finca -->
<div class="card" href="">
  <div class="face front">
    <img src="../assets/images/cardTemplate2.svg" alt="card image" />
    <h3>Calificar finca</h3>
  </div>
  <div class="face back">
    <h3>Calificar finca</h3>
    <p>
      Como usuario arrendador, quiero calificar la finca y al arrendatario para evaluar la experiencia.
    </p>
  </div>
</div>



        


        
      </section>
    </main>
    <footer>
      <div class="footer__container__icons">
        <div class="name__logo__container">
          <div class="logo"></div>
          <a href="">
            <h1>Grupo 14</h1>
          </a>
        </div>
        <a
          href=""
          target="_blank"
        >
          <img src="../assets/images/Github.svg" alt="GitHub logo" />
        </a>
      </div>
      <hr />
      <h2 class="copyright">© 2024 Grupo 14, Inc. All rights reserved.</h2>
    </footer>
  </body>
</html>
